/* image layers */

ul.image-layers, ul.image-layers ul {
  list-style-type: none;
  padding-left: 1.5em;
}

ul.image-layers {
  padding-left: 0;
  margin: 0;
}

ul.image-layers > li,
ul.image-layers li.parent,
ul.image-layers li.parent > ul > li:first-child {
  margin-top: 0.5em;
}

ul.image-layers li.parent > label {
  font-weight: bold;
}

ul.image-layers > li:first-child {
  margin-top: 0;
}

ul.image-layers input {
  margin-right: 0.5em;
}

/* image images */

div.image-images > img {
  max-width: 100%;
}

/* features */

div.features > span::before {
  content: ' ';
}

/* users */

div.all-users {
  flex-wrap: wrap;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
}

div.all-users > .user-info {
  /*min-width: 250px;*/
  flex: 1 1 25%;
  width: auto;
}

/* styles on user profile tabs */

.user-profile.profile,
.user-profile.settings .public {
  display: flex;
}

.user-profile.profile .column,
.user-profile.settings .public .column {
  flex-grow: 1;
}

.user-profile.profile > .column > h1 {
  margin: 0;
}

.user-profile.profile > .gravatar,
.user-profile.settings .gravatar {
    margin-right: 2em;
}

.user-profile.profile .location,
.user-profile.profile .location * {
  vertical-align: middle;
  color: rgb(59, 64, 69);
}

.user-profile.profile .location svg {
  fill: rgb(145, 153, 161);
}

.user-profile.profile .location {
  margin-top: 0.25em;
}

.user-profile.settings > h1 {
  font-size: 1.5em;
}

.user-profile.settings > h2 {
  margin-top: 1.5em;
  padding-top: 0.5em;
  border-top: 1px solid rgb(234, 234, 234);;
  font-size: 18px;
}

.user-profile.settings input,
.user-profile.settings label {
  display: block;
}

.user-profile.settings input {
  margin: 5px 0 6px;
  width: 100%;
}

.user-profile.settings label {
  margin-top: 18px;
}

.user-profile.settings .column > label:first-child {
  margin-top: 0;
}