/* all columns are contained in this parent */

.all-columns {
  display: flex;
  position: relative;
}

/* text columns are narrow, have separate header and content, and content may be a list of elements */

.column-text {
  max-width: 50em;
  font-size: 15px;
  margin: 0 auto;
  border-left: 1px solid rgb(214, 217, 220);
  width: 100%;
}

.column-text .header {
  padding: 1.5rem 0 0 1.5rem;
  margin-bottom: 1rem;
}

.column-text .header > * {
  margin-top: 0;
}

.column-text .content {
  border-top: 1px solid rgb(214, 217, 220);
}

.column-text .content .element {
  border-bottom: 1px solid rgb(239, 240, 241);
  padding: 0.75rem 0.5rem
}

.column-text .content .element.first {
  border-bottom: none;
}

.column-text.grid {
  max-width: 71.5em;
}

/* wide columns e.g. Images */

.column-wide {
  max-width: 100%;
  position: relative;
}

/* right column */

.column-right {
  padding: 2em 0.5em 0.5em 0.5em;
  flex: none;
  position: relative;
}

.column-right-button,
.column-close-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.column-close-button {
  line-height: 1em;
  border: none;
  background-color: transparent;
  padding: 0.5em;
}

.column-close-button:hover {
  background-color: rgba(159, 166, 173, 0.5);
  border: 1px solid rgb(159, 166, 173);
}

/* tabs */

.tab-head {
  font-size: 12px;
  line-height: 1;
  height: 41px;
  border-bottom: 1px solid rgb(228, 230, 232);
  clear: both;
}

.tab-head.profile {
  margin: 1.5rem 0 0 1.5rem;
}

.tab-head .slug {
  float: right;
  margin-top: 3px;
}
.tab-head .slug h1 {
  font-size: 17px;
  font-weight: bold;
  margin: 0 8px;
}
.tab-head .slug > * {
  display: inline-block;
  vertical-align: middle;
}

.tabbed {
  margin: 1.5rem 0 0 1.5rem;
}

.tabs {
  float: left;
  width: 100%;
}

.tabs > a {
  display: block;
  float: left;
  padding: 13px 7px 14px;
  border: 1px solid rgb(228, 230, 232);
  border: 1px solid transparent;
  color: rgb(36, 39, 41);
  position: relative;
  box-sizing: border-box;
  margin-right: 8px;
}

.subtabs h2 {
  display: inline;
}

.subtabs .tabs > a {
  float: right;
}

.tab-head:after, .tabs::after {
  content: "";
  display: table;
  clear: both;
}

.tabs > a.selected {
  border-color: rgb(228, 230, 232);
  border-bottom-color: white;
}

.tabs > a:before {
  content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    height: 2px;
    background-color: transparent;
}

.tabs > a.selected:before {
  background-color: #2c5777;
}

.tabs > a:hover {
  background-color: rgba(132,141,149,0.05);
}

.tabs > a.selected:hover {
  background-color: white;
}
