/* image layers */

ul.image-layers, ul.image-layers ul {
  list-style-type: none;
  padding-left: 1.5em;
}

ul.image-layers {
  padding-left: 0;
  margin: 0;
}

ul.image-layers > li,
ul.image-layers li.parent,
ul.image-layers li.parent > ul > li:first-child {
  margin-top: 0.5em;
}

ul.image-layers li.parent > label {
  font-weight: bold;
}

ul.image-layers > li:first-child {
  margin-top: 0;
}

ul.image-layers input {
  margin-right: 0.5em;
}

/* image images */

div.image-images > img {
  max-width: 100%;
}

/* features */

div.features > span::before {
  content: ' ';
}

/* users */

div.all-users {
  flex-wrap: wrap;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
}

div.all-users > .user-info {
  flex: 1 1 25%;
  width: auto;
}

/* tags -- similar to users */

div.tags {
  flex-wrap: wrap;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
}

div.tags > .topic {
  flex: 1 1 25%;
  width: auto;
}

div.tags {
  margin-bottom: 2em;
}

/* styles on user profile tabs */

.user-profile.profile,
.user-profile.settings .public {
  display: flex;
}

.user-profile.profile .column,
.user-profile.settings .public .column {
  flex-grow: 1;
}

.user-profile.profile > .column > h1 {
  margin: 0;
}

.user-profile.profile > .gravatar,
.user-profile.settings .gravatar {
    margin-right: 2em;
}

.user-profile.profile .location,
.user-profile.profile .location * {
  vertical-align: middle;
  color: rgb(59, 64, 69);
}

.user-profile.profile .location svg {
  fill: rgb(145, 153, 161);
}

.user-profile.profile .location {
  margin-top: 0.25em;
}

.user-profile.settings > h1 {
  font-size: 1.5em;
}

.user-profile.settings > h2 {
  margin-top: 1.5em;
  padding-top: 0.5em;
  border-top: 1px solid rgb(234, 234, 234);;
  font-size: 18px;
}

.user-profile.settings input,
.user-profile.settings label {
  display: block;
}

.user-profile.settings input {
  margin: 5px 0 6px;
  width: 100%;
}

.user-profile.settings label {
  margin-top: 18px;
}

.user-profile.settings .column > label:first-child {
  margin-top: 0;
}

/* styles on discussions banner */

.subtitle,
.footer {
  display: flex;
  align-items: center;
}

.subtitle .count,
.footer .index {
  font-size: 17px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-right: 12px;
}

.subtitle .sort,
.footer .index {
  display: flex;
  padding-left: 12px;
}

.subtitle .sort a {
  font-size: 13px;
  padding: 0.8em;
  border: 1px solid rgb(118, 128, 138);
  margin-right: -1px;
  margin-bottom: -1px;
}

.footer a,
.footer span {
  font-size: 12px;
  padding: 4px 8px;
  border: 1px solid rgb(228, 230, 232);
  margin-right: -1px;
  margin-bottom: -1px;
  border-radius: 3px;
  margin-right: 4px;
  color: rgb(132, 141, 149);
}

.footer span.dots {
  border-color: transparent;
}

.subtitle .sort a:last-child {
  margin-right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.subtitle .sort a:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.footer {
  margin: 38px 0 20px;
}

.subtitle .sort .selected {
  background-color: rgba(174, 192, 209, 0.25);
}

.footer .selected,
.footer a:hover {
  background-color: rgb(44, 87, 119);
  color: white;
}

