.topbar {
  position: fixed;
  height: 50px;
  top: 0;
  background-color: rgb(36, 39, 41);
  width: 100%;
  z-index: 100;
}

.topbar .container {
  max-width: 1264px;
}

.topbar .icons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  float: right;
  align-items: center;
}

.topbar .icons li.icon {
  display: flex;
  height: 50px
}

.topbar .icons li.text {
  list-style-type: none;
}

.topbar .icons a {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.topbar .icons a:hover {
  background-color: rgba(159, 166, 173, 0.5);
}

.topbar .icons a.login {
  background-color: rgb(0, 149, 255);
  color: white;
  padding: 0.5rem 0.8rem;
  margin-left: 4px;
  line-height: 1em;
  display: inline;
  font-size: 13px;
  border-radius: 3px;
  text-decoration-line: none;
  border: 1px solid rgb(0, 119, 204);
  box-shadow: inset 0 1px 0 rgb(102,191,204);
}

.topbar .icons a.login:hover {
  background-color: rgb(0, 119, 204);
  border-color: rgb(0, 89, 153);
}

#root {
  padding-top: 50px;
}

/* color the SVGs by overriding their internal stylesheets */

.topbar svg {
  fill: rgb(159, 166, 173);
}
