html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  font-size: 100%;
}

h1 {
  font-weight: 400;
  font-size: 2.07692308rem;
}

form {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid rgb(214, 217, 220);
  border-radius: 3px;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

img {
  height: auto;
}

button {
  border-radius: 3px;
}

label, button {
  cursor: pointer;
}

a {
  color: #4c8dbd;
  text-decoration: none;
  cursor: pointer;
}
