/* image layers */

ul.image-layers, ul.image-layers ul {
  list-style-type: none;
  padding-left: 1.5em;
}

ul.image-layers {
  padding-left: 0;
  margin: 0;
}

ul.image-layers > li,
ul.image-layers li.parent,
ul.image-layers li.parent > ul > li:first-child {
  margin-top: 0.5em;
}

ul.image-layers li.parent > label {
  font-weight: bold;
}

ul.image-layers > li:first-child {
  margin-top: 0;
}

ul.image-layers input {
  margin-right: 0.5em;
}

/* image images */

div.image-images > img {
  max-width: 100%;
}

/* features */

div.features > span::before {
  content: ' ';
}

/* users */

div.all-users {
  flex-wrap: wrap;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
}

div.all-users > .user-info {
  /*min-width: 250px;*/
  flex: 1 1 25%;
  width: auto;
}

/* user-info is shown on the list of users and to identify the author of any message */

.user-info:hover {
  background-color: #f4f8fb;
}

.user-info > a,
.user-info > .details {
  float: left;
}

.user-info > .details {
  margin-left: 9px;
  font-size: 14px;
  color: rgb(76, 141, 189);
}

.user-info > .details > .user-location {
  display: block;
  font-size: 12px;
  color: rgb(106, 115, 124);;
}
