.wmd-preview {
  padding: 0;
  clear: both;
  width: 100%;
  border-top: 1px solid rgb(214, 217, 220);
  border-bottom: 1px solid rgb(214, 217, 220);
}

form.editor {
  width: 100%;
  padding: 0;
  border: none;
}

.wmd-input,
.wmd-preview {
  background-color: white;
}

.element .wmd-preview {
  border-top: none;
  border-bottom: none;
}

.editor.settings > h1 {
  font-size: 1.5em;
}

.editor.settings > h2 {
  margin-top: 1.5em;
  padding-top: 0.5em;
  border-top: 1px solid rgb(234, 234, 234);
  font-size: 18px;
}

.editor.settings input[type="text"],
.editor.settings label {
  display: block;
}

.editor.settings input[type="text"] {
  margin: 5px 0 6px;
  width: 100%;
}

.editor.settings label {
  margin-top: 18px;
}

.editor.settings .column > label:first-child {
  margin-top: 0;
}

.editor div.submit {
  margin-top: 24px;
}

.editor.settings div.submit {
  text-align: center;
}

.wmd-input.invalid {
  border-top-color: darkgray !important;
}

textarea {
  width: 100%;
}

.editor.tag-wiki .hint {
  margin: 0;
  font-size: 13px;
  color: #9199a1;
}

.editor.tag-wiki .hint.next {
  margin-top: 5px;
}
